@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700;900&display=swap");

.bg {
  fill: #000;
}

text {
  font-family: Gotham-Medium, Gotham;
  font-weight: 500;
}

.txt-rate {
  fill: #fff;
}

.txt-rate {
  font-size: 212px;
  letter-spacing: -0.1em;
  fill: #fff;
}

.txt-avail {
  font-size: 106px;
  fill: #fff;
}

.txt-open {
  fill: #008838;
  font-size: 254px;
}

.txt-closed,
.txt-reserved,
.txt-full {
  fill: #e60019;
  font-size: 189px;
  letter-spacing: -0.08em;
}
